version: "3.8"

services:
  mongodb:
    image: mongo:4.4.6
    container_name: mongodb
    ports:
      - "27017:27017"
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - app-network

  multi-kind-app:
    build: .
    container_name: multi-kind-app
    ports:
      - "8080:8080"
    environment:
      - MONGO_URI=mongodb://mongodb:27017
      - REDIS_ADDR=redis:6379
      - PORT=8080
    depends_on:
      - mongodb
      - redis
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
